NODE_ENV=
PORT=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=
APP_ORIGIN=
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_GOOGLE_ALLOWED_EMAILS=
AUTH_SESSION_ABSOLUTE_TTL_SECONDS=
AUTH_SESSION_IDLE_TTL_SECONDS=
AUTH_SESSION_TOUCH_INTERVAL_SECONDS=
AUTH_OIDC_ATTEMPT_TTL_SECONDS=
